<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
    <head>
        <title>
            {%- if title -%}
                {{ title }} – {{ site.title }}
            {%- else -%}
                {{ site.title }} – {{ site.description }}
            {%- endif -%}
        </title>
        <meta name="description" content="{% block description %}{{ site.description }}{% endblock %}">
        <meta name="robots" content="index,follow">
        <meta name="generator" content="Eleventy">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% if site.icon %}
            <link rel="shortcut icon" type="image/png" href="{{ site.icon }}"/>
        {% endif %}

        {%- block seo -%}
            <!--Twitter Card-->
            <meta name="twitter:site" content="{{ site.twitter }}">
            <meta name="twitter:creator" content="{{ site.twitter }}">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:url" content="{{ site.url + page.url }}">
            <meta name="twitter:title" content="{{ title + " – " + site.title if title else title }}">
            <meta name="twitter:description" content="{{ site.description }}">
            <meta name="twitter:image" content="{{ site.cover_image }}">

            <!--Schema-->
            <link rel="author" href="{{ site.url }}">
            <link rel="publisher" href="{{ site.url }}">
            <meta itemprop="name" content="{{ title + " – " + site.title if title else title }}">
            <meta itemprop="description" content="{{ site.description }}">
            <meta itemprop="image" content="{{ site.cover_image }}">

            <!-- Facebook OpenGraph -->
            <meta property="og:url" content="{{site.url + page.url}}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title + " – " + site.title if title else title }}">
            <meta property="og:image" content="{{ site.cover_image }}">
            <meta property="og:description" content="{{ site.description }}">
            <meta property="og:site_name" content="{{ site.title }}">
            <meta property="og:locale" content="{{ site.lang }}">
            <meta property="article:author" content="{{ site.url }}">
        {%- endblock -%}

        <link rel="stylesheet" href="/css/styles.css">

        <script>document.documentElement.classList.remove('no-js');</script>

        {{ site.codeinjection_head | safe if site.codeinjection_head }}
        {{ codeinjection_head | safe if codeinjection_head }}
    </head>
    <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
        {% include "partials/icons.njk" %}
        <div class="viewport pb5">
            <div class="viewport-top mb7 z-5 bg-white bb b--black-10">
               {% include "partials/navigation.njk" %}
                <main class="relative flex flex-column flex-row-l">
                    {% include "partials/header.njk" %}
                    <div class="min-vh-100-l w-100 bl b--black-10">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </main>
            </div>

            <div class="viewport-bottom pt5 fixed bottom-0 bg-white">
                {% include "partials/footer.njk" %}
            </div>

            {{ site.codeinjection_foot| safe if site.codeinjection_foot }}
            {{ codeinjection_foot | safe if codeinjection_foot }}
        </div>

        {% set js %}
          {% include "js/core.js" %}
          {% include "js/site.js" %}
        {% endset %}
        <script>{{ js | jsmin | safe }}</script>
    </body>
</html>
