---
pagination:
  data: jobs
  resolve: values
  size: 1
  alias: job
  addAllPagesToCollections: true
layout: 'layouts/base.njk'
permalink: 'jobs/{{ job.title | slug }}/'
---

{% block content %}
<section class="black-70 mw8">
  <div class="pl3 pl5-l pb3 pt3 pt5-ns measure mw6-l">
      <h1 class="f3 ttu fw5 mt0">
        {{ job.title }}
      </h1>
      <div class="f5 f4-l lh-copy">
        {{ job.body | markdown | safe  if job.body else "Page content not found" }}
      </div>
  </div>
</section>
{% endblock%}
